/* 雪花特效 */
/* ---------- start ---------- */
#snow{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}
/* ---------- end ---------- */


/* 帧率显示 */
/* ---------- start ---------- */
#fps {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1919810;
}
[data-theme="light"] #fps {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
[data-theme="dark"] #fps {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
/* ---------- end ---------- */


/* 背景宇宙星光 */
/* ---------- start ---------- */
#universe{
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
  z-index: -1;
}
/* ---------- end ---------- */


/* 养鱼 */
/* ---------- start ---------- */
.fish_container{
  z-index: -1;
  width: "100%";
  height: "160px";
  margin: 0;
  padding: 0;
}
/* ---------- end ---------- */


/* 新年灯笼 */
/* ---------- start ---------- */
#lantern {
  z-index: -100;
  position: absolute;
}

[data-theme=light] {
  --lantern-red: rgba(171, 17, 28, 0.8);
  --lantern-yellow: linear-gradient(to right, #dc8f03, #ffc069, #dc8f03, #ffc069, #dc8f03);
  --lantern-fontcolor: #e7ac5c;
  --lantern-box: -5px 5px 50px 4px rgb(250 108 0);
}
[data-theme=dark] {
  --lantern-red: rgba(157, 26, 26, 0.8);
  --lantern-yellow: linear-gradient(to right, #b1770e, #e3a653, #b1770e, #e3a653, #b1770e);
  --lantern-fontcolor: #d59339;
  --lantern-box: -5px 5px 30px 4px rgb(197 114 51);
}

/* 节日灯笼 */
@media screen and (max-width: 768px) {
  #lantern {
    display: none;
  }
}
.deng-box {
  position: fixed;
  top: -40px;
  left: -20px;
  z-index: 999;
  transition: .3s;
}
.deng-box1 {
  position: fixed;
  top: -30px;
  left: 100px;
  z-index: 999;
  transition: .3s;
}
.deng-box2 {
  position: fixed;
  top: -40px;
  right: -20px;
  z-index: 999;
  transition: .3s;
}
.deng-box3 {
  position: fixed;
  top: -30px;
  right: 100px;
  z-index: 999;
  transition: .3s;
}

#page-header.nav-fixed .deng-box {
  position: fixed;
  top: 15px;
  left: -20px;
  z-index: 999;
  transition: .3s;
}
#page-header.nav-fixed .deng-box1 {
  position: fixed;
  top: 25px;
  left: 100px;
  z-index: 999;
  transition: .3s;
}
#page-header.nav-fixed .deng-box2 {
  position: fixed;
  top: 15px;
  right: -20px;
  z-index: 999;
  transition: .3s;
}
#page-header.nav-fixed .deng-box3 {
  position: fixed;
  top: 25px;
  right: 100px;
  z-index: 999;
  transition: .3s;
}

.deng-box1 .deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: var(--lantern-red);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 5s infinite ease-in-out;
  box-shadow: var(--lantern-box);
}
.deng-box2 .deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: var(--lantern-red);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 5s infinite ease-in-out;
  box-shadow: var(--lantern-box);
}
.deng-box3 .deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: var(--lantern-red);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 3s infinite ease-in-out;
  box-shadow: var(--lantern-box);
}
.deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: var(--lantern-red);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 3s infinite ease-in-out;
  box-shadow: var(--lantern-box);
}

.deng-a {
  width: 100px;
  height: 90px;
  background: #d8000f;
  background: rgba(216, 0, 15, 0.1);
  margin: 12px 8px 8px 8px;
  border-radius: 50% 50%;
  border: 2px solid #dc8f03;
}

.deng-b {
  width: 45px;
  height: 90px;
  background: #d8000f;
  background: rgba(216, 0, 15, 0.1);
  margin: -4px 8px 8px 26px;
  border-radius: 50% 50%;
  border: 2px solid #dc8f03;
}

.xian {
  position: absolute;
  top: -20px;
  left: 60px;
  width: 2px;
  height: 20px;
  background: #dc8f03;
}

.shui-a {
  position: relative;
  width: 5px;
  height: 20px;
  margin: -5px 0 0 59px;
  -webkit-animation: swing 4s infinite ease-in-out;
  -webkit-transform-origin: 50% -45px;
  background: #ffa500;
  border-radius: 0 0 5px 5px;
}

.shui-b {
  position: absolute;
  top: 14px;
  left: -2px;
  width: 10px;
  height: 10px;
  background: #dc8f03;
  border-radius: 50%;
}

.shui-c {
  position: absolute;
  top: 18px;
  left: -2px;
  width: 10px;
  height: 35px;
  background: #ffa500;
  border-radius: 0 0 0 5px;
}

.deng:before {
  position: absolute;
  top: -7px;
  left: 29px;
  height: 12px;
  width: 60px;
  content: " ";
  display: block;
  z-index: 999;
  border-radius: 5px 5px 0 0;
  border: solid 1px #dc8f03;
  background: #ffa500;
  background: var(--lantern-yellow);
}

.deng:after {
  position: absolute;
  bottom: -7px;
  left: 10px;
  height: 12px;
  width: 60px;
  content: " ";
  display: block;
  margin-left: 20px;
  border-radius: 0 0 5px 5px;
  border: solid 1px #dc8f03;
  background: #ffa500;
  background: var(--lantern-yellow);
}

.deng-t {
  font-family: 华文行楷,Arial,Lucida Grande,Tahoma,sans-serif;
  font-size: 3.2rem;
  color: var(--lantern-fontcolor);
  font-weight: bold;
  line-height: 85px;
  text-align: center;
}

.night .deng-t, 
.night .deng-box, 
.night .deng-box1 {
  background: transparent !important;
}

@-moz-keyframes swing {
  0% {
      -moz-transform: rotate(-10deg)
  }

  50% {
      -moz-transform: rotate(10deg)
  }

  100% {
      -moz-transform: rotate(-10deg)
  }
}

@-webkit-keyframes swing {
  0% {
      -webkit-transform: rotate(-10deg)
  }

  50% {
      -webkit-transform: rotate(10deg)
  }

  100% {
      -webkit-transform: rotate(-10deg)
  }
}
/* ---------- end ---------- */


/*  */
/* ---------- start ---------- */

/* ---------- end ---------- */
